.btn {
  padding: 20px 40px;
  background-color: #363151;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  box-sizing: border-box;
}

.label {
  color: #ffffff;
}