.input {
  width: 100%;
  outline: 0;
  background-color: transparent;
  color: #A276AE;
  border: 0;
  border-bottom: 1px solid #363151;
  font-size: 24px;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
}