@import url('https://fonts.googleapis.com/css?family=B612+Mono:400,700&display=swap');

body {
  margin: 0;
  background-color: #F7F6EE;
  font-family: 'B612 Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
